<div class="show container">
  <h1> <%= @content.title %></h1>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/spdmhk2najs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
  <%= link_to 'Delete content', @content, method: :delete, data: { confirm: "Are you sure that you want to delete '#{@content.title}' and all its contents?" }, class: 'btn btn-danger'%>
</div>

