<div class="show container">
  <h1> <%= @content.title %></h1>

  <% if @content.video_url? %>
    <iframe width="560" height="315" src="<%= @content.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% end %>

  <%= link_to 'Delete content', @content, method: :delete, data: { confirm: "Are you sure that you want to delete '#{@content.title}'?" }, class: 'btn btn-danger'%>
</div>
