<div class="pages-container">
  <% if @content.video_url? %>
      <%= render 'shared/video_show'%>
  <% elsif @content.blog_image %>
    <%= render 'shared/blog_show' %>
  <% end %>

  <div class="links">
    <% if policy(@content).update? %>
      <%= link_to 'Edit', edit_content_path(@content), class: "btn btn-secondary" %>
    <% end %>
  </div>
  
</div>
