// Define variables for your color scheme

// For example:
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;

$charcoal: #264653;
$green: #2A9D8F;
$yellow: #E9C46A;
$orange: #F4A261;
$red: #E76F51;
$logo: #EA7E62
