.hidden {
  display: none;
}

.content-type-choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.form-check {
  background: #b7b7b7;
  border: grey 1px solid;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: grey;
  color: white;
  opacity: 1;
  }
}
