.upload-form-image-background {
  background:asset-url('index/left2.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end; 
}

.upload-form {
  width: 50%;
  background: white;
  opacity: 0.98;
  padding: 20px;
  max-height:100vh;
  overflow: scroll;
  h2 {
    font-weight: 400;
    font-family: 'Open sans';
    margin-bottom: 16px;
  }
}

.rodrigo {
  margin-top: 150px;
}