// top image

.index-banner {
  // object-fit: cover;
  height: 400px;
  // width: 100%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

// pages container 2

.pages-container2 {
  margin: auto;
  max-width: 800px;
}

// Container for filter and cards
.index-card-container {
  margin: 30px 0;
  display: flex;
}

// filter styling
.filter-form {
  width: 23%;
  height: auto;
  background-color: lightgrey;
  padding: 20px;
  display: sticky;
  margin-left: 10px;

  h4 {
    font-size: 18px !important;
  }
  .checkbox {
    font-size: 14px;
    padding: 2px;
  }
  form {
    margin-bottom: 16px;
  }
  .filter-btn {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: .1em;
  }
}

.form-check2 {
  background: orange;
  border: pink 1px solid;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  text-align: center;
  height: 60px;
  &:hover {
    opacity: 1;
  }
  &.active {
    background: orangered;
    color: white;
    opacity: 1;
  }
}

.vertical-choice p {
  position: relative;
    top: 20px;
    right: 20px;
    font-size: 12px;
    text-align: center;
    margin-right: 20%;
    font-weight: 500;
}
// search bar styling
.search-form {
  position: relative;
  margin: 40px auto;
}

.form-control {
  text-align: left;
}

// text on cards
html {
  background: #f5f7f8;
  -webkit-font-smoothing: antialiased;
}

h5 {
  font-size: 14px;
  bottom: 5px;
  position: absolute;
}

span {
  font-size: 14px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}

.thumb {
  background-size: cover;
  background-position: center;
}

// back to top link
.bottom-link {
  text-align: center;
  margin: 20px;
  border-top: #264653 1px solid;
}

.container {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.ks-cboxtags {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #E76F50;
    background-color: #E76F50;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #264653;
}
