.upload-form-image-background {
  margin-top: 132.328px;
  background:asset-url('index/left2.jpg') no-repeat;
  background-size: cover;
  max-height:100vh;
  display: flex;
  justify-content: flex-end; 
}

.upload-form {
  width: 50%;
  max-height: 100vh;
  background: white;
  opacity: 0.9;
  padding: 20px;
}