.search-form {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  margin: 40px auto;
}

.form-control {
  text-align: left;
}

.index_container {
  margin: auto;
  max-width: 800px;
  min-height: 100%;
}

html {
  background: #f5f7f8;
  -webkit-font-smoothing: antialiased;
}

article {
  padding: 20px;
  flex: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-top: 10px;
  bottom: 5px;
}

p {
  flex: 1;
  line-height: 1.4;
}

span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.thumb {
  background-size: cover;
  background-position: center;
}

#content1 {
  flex-grow: 2;
}