.body {
  background-color: $yellow;
}

// top images

.row2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column2 {
  float: left;
  width: 33.33%;
  img {
    padding: 0 !important;
  }
}

//main page

.dashboard-container {
    width: 100vw;
}

.dashboard-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.profilecardimage {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.card-category p {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#p-text {
  padding: 16px;
  color: $charcoal;
}

#username {
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: $charcoal 1px solid;
}

#profile-heading{
  background-color:#2A9D8F;
}

#uploads-heading {
  background-color:#E9C46A;
}

#favourites-heading {
  background-color: $red;
}

.dashboard-icon{
  font-size: 20px;
  padding-right: 10px;
  color: $orange;
  &:hover {
    color: $red;
  }
}
