.dashboard-container {
    margin: 50px auto;
    width: 90vw;
}

.dashboard-links p {
  text-align: center;
}

.profilecardimage {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 50%;
}

// #profilecard {
//   position: sticky;
//   top: 0;
// }

#username {
  padding-top: 24px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: black 1px solid;
}
