.dashboard_container {
    margin: auto;
    max-width: 95vw;
}

.my-uploads {
    padding-left: 0;
}

.my-uploads {
    padding-right: 0;
}

.profilecard {
  width: 35%;
}

.dashboard-pages-container {
  width: 65%
}

.dashboardlinks p {
  text-align: center;
  margin-bottom: 9.6%;
  margin-top: 5%;
}

.profilecard h1 {
  font-size: 30px;
}

