<div class="blog_show_container">
  <div class="blog-banner">
    <img src="<% @content.image %>">
  </div>
    <div class="blog-text">
      <h1><%= @content.title %></h1>
      <p><%= @content.description%></p>
      <p><%= @content.user%></p>
    </div>
  
</div>