<div class="footer">
  <p class="footer-trademark mt-3 ml-3">TheHealthyHairHub™</p>
  <div class="links mr-3">
    <a href="#" class="social"><i class="fab fa-twitter-square"></i></a>
    <a href="#" class="social"><i class="fab fa-youtube"></i></a>
    <a href="#" class="social"><i class="fab fa-instagram"></i></a>
  </div>
</div>
