<div class="video_show_container">
  <h1><%= @content.title %></h1>
  <p><%= @content.user.username %></p>
  <iframe width="560" height="315" src="<%= @content.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p><%= @content.description%></p>
</div>
