<div class="dashboard_container">
  <h1>Dashboard</h1>
  <div class="uploads_and_favourites">
    <div class="my_uploads">
      <h2>My Uploads</h2>
      <--! Uploads iterator --!>
    </div>
    <div class="my_favourites">
      <h2>My Favourites</h2>
      <--! Favourites iterator --!>
    </div>
    </div>
  <div class="links">
    <p><%= link_to 'Homepage', root_path %></p>
    <p><%= link_to 'Upload content', new_content_path %></p>
  </div>

</div>

