.blog_show_container {
  margin: auto;
  max-width: 1000px;
}

.blog_banner{
  img {
    width: 80%;
    height: auto;
    border-radius: 5px;
  }
}

.fav-heart{
}

.blog-description{
  margin-top:30px;
}