.blog_show_container {
  margin: auto;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}

.blog_banner{
  img {
    width: 80%;
    height: auto;
    border-radius: 5px;
  }
}

.blog-img{
/*   position: relative; */
}

.fav-heart{
  margin-left: -65px;
  margin-top: 5px;
}

.blog-description{
  margin-top:30px;
}

#blog-header{
text-align:center;
}

#blog-like{
  font-size:60px;
}