.blog_show_container {
  margin: auto;
  max-width: 1000px;
  text-align:center;
}

.blog_banner{
  img {
    min-width: 95%;
    min-height: 80%;
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
  }
}

.blog_text{
  text-align:left;
}

