// index page cards
.all-cards {
  right: 0;
  max-width: 800px;
  margin-left: 5%;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  width:min-content;
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 300px;

  // sets up hover state
  position: relative;
  top: 0;
  transition: all .1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    text-decoration: none;
    color: black;
  }

  img {
    object-fit: cover;
    height: 140px;
    width: 250px;
  }

  .card-text {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
  }

  .card-link h2 {
    font-size: 15px;
    font-weight: bold;
  }

  .bottom-row {
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  .fa-heart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    z-index: 1000;
    color: $orange;
  }
}

a {
  z-index:2;
  color: $orange;
  font-weight: bold;
  right: 0;
   &:hover {
     color: $orange;
     text-decoration: none;
  }
}

.indexcards {
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  padding:1px;
  border:1px solid #021a40;
  z-index: 1000;
  top: 32%;
  right: 2%;
}

