.all-dash-col {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dash-col {
  width: 360px;
  margin: 20px 8px;
}

.card-product {
  overflow: hidden;
  width: 96%;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: all .1s ease-in;
  margin: 8px auto;
  position: relative;
  top: 0;
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: gray;
}

.card-product .card-product-infos {
  padding: 16px;
}

#btn-upload {
  padding: 12px;
  border-radius: 5px;
  background-color: #2A9D8F;
  color: white;
  margin-top: 5px;
}

.links {
  display: flex;
}

#small-heart {
  font-size: 24px;
}
