.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: all .1s ease-in;
  margin-top: 16px;
  position: relative;
  top: 0;
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: gray;
}

.card-product .card-product-infos {
  padding: 16px;
}

.links {
  display: flex;
}

.dashboard_container {
  display: flex;
}

.dashboard-pages-container {
  flex: 1;
  margin-top: 5%;
}

.dashboard_container h1 {
  text-align: center;
  margin-top: 5%;
  min-height: 5vh;
}

.profilecard {
  margin-top: 6.15%;
  margin-right: 20px;
}

.card-category {
  border-radius: 10px 10px 10px 10px;
}

.card-category p {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.profilecardimage {
  height: 350px;
  width: 350px;
  display: block;
  line-height: 60px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-left: 15%;
}

.profilecardsticky {
  margin-top: 5%;
  position: sticky;
  top: 0px;
}


