.footer {
  background: white;
  margin-top: 40px;
  color: black;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: black;
  font-size: 32px;
  padding: 6px;
  transition: 350ms ease-in-out;
}

.footer a:hover {
  font-size: 40px;
}

.footer p {
  font-size: x-large;
}
