
.footer {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background: transparent;
  color: #264653;
}

.footer a {
  text-decoration: none;
  color: #264653;
  font-size: 24px;
  padding: 10px;
}

.footer a:hover {
  font-size: 30px;
}

.footer p {
  font-size: 18px;
}

.page-ref {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
