
.footer {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background: transparent;
  color: #264653;
}

.footer a {
  text-decoration: none;
  color: #264653;
  font-size: 24px;
  padding: 10px;
  transition: ease-in-out .2s;
}

.footer a:hover {
  transform: scale(1.1);
}

.footer p {
  font-size: 18px;
}

.page-ref {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
