@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.upload-form {
  margin-top: 100px;
}

.hidden {
  display: none;
}

.choices {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.form-check {
  background: lightpink;
  border: pink 1px solid;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  text-align: center;
  height: 60px;
  &:hover {
    opacity: 1;
  }
  &.active {
    background: pink;
    color: white;
    opacity: 1;
  }
}

.content-type-label {
  cursor: pointer;
}

.question-mark {
  cursor: pointer;
}

#styles {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  flex-wrap: wrap;
}

.style-options {
  background-position: center;
  background-size: cover;
  border: pink 1px solid;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  width: 80px;
  // flex: 0 0 30%;
  text-align: center;
  height: 80px;
  margin: 20px;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
  }

}

#content_content_type_video, #content_content_type_blog_post {
  display: none;
}


 .form-inputs {
  position: relative;
  border-radius: 5px;
}

.form-inputs .btn {
  position: absolute;
  top: 45px;
  right: 8px;
}

.form-inputs{
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.form-inputs {
  position: relative;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);

  padding-bottom: 10px;
}


.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background-position: center;
  background-size: cover;
  border: pink 1px solid;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  width: 80px;
  // flex: 0 0 30%;
  text-align: center;
  height: 80px;
  margin: 20px;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
  }
}



.small-category-choice {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

.category-choices-index {
  flex-wrap: wrap;
  display: flex;
}
.vertical-choice {
  width: 33.33%;
//   display: flex;
//   flex: 0 0 33.333333%;
//   align-items: center;
//   justify-content: flex-start;
}

.search-form-control {
  margin-left: 20%;
}
