.navbar {
}

.navbar-lewagon {
  position: absolute;
  justify-content: space-between;
  background-color: #264653;

  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  opacity: 90%;
}

.navbar-nav {
  margin-bottom: 40%;
}

.navbar-brand {
  text-align: center;
  margin-left: 47%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;

  padding: 10px;
  color: #F4A261;
  margin-bottom: 50%;
  &:hover {
    color: $green;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  &:hover {
    cursor: pointer;
  }
}
