.navbar-lewagon {
  position: fixed;
  justify-content: space-between;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #ECABB6 !important;
}

.avatar {
  width: 35px;
  height: 35px;
}

.navbar-brand {
    display: block;
    height: 55px;
    width: 55px;
    line-height: 42px;

    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}
