.navbar-lewagon {
  position: absolute;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-links {
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  color: #264653;
  &:hover {
    color: $green;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  &:hover {
    cursor: pointer;
  }
}
