.video-show-container {
  margin: auto;
  margin-bottom: 60px;
  max-width: 800px;
  background-color: white;
}

.vid-content-container {
  display: flex;
  flex-direction: column;
}

.vid-header {
  text-align: center;
  border-top: $red 8px solid;
  padding: 20px 0;
  h1 {
    font-size: 32px; 
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.vid-user {
  width: 560px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: $orange 2px solid;
  p {
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
  }
  .v-user-av {
    display: flex;
    align-content: center;
  }
}

#video-like {
  font-size: 30px;
  margin-left: 20px;
}

.vid-text {
  margin: 40px;
  background-color: #ECECEC;
  border-radius: 10px 0 10px 0;
  padding: 20px;
}