.video-show-container {
  margin: 60px auto;
  max-width: 1000px;
}

.vid-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vid-header {
  text-align: center;
  h1 {
    color: $charcoal;
    font-size: 32px; 
  }
}

.video {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.vid-user {
  width: 560px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  p {
    font-size: 18px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
  }
  .v-user-av {
    display: flex;
    align-content: center;
  }
}

/* .fa-heart {
  font-size: 30px;
  margin-left: 20px;
} */


.vid-text {
  width: 400px;
  border: $red 2px solid;
  border-radius: 10px 0 10px 0;
  padding: 20px;
}